* {
    box-sizing: border-box;
    
}

p {
    font-family: var(--font-font-family);
    font-weight: 400;
    font-size: 16px;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font-font-family);
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    min-width: 200px;
   
    
}

.menuitem {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--font-font-family);
    font-weight: 400;
    
}

.tire {
    padding-left: 20px;
    padding-right: 20px;
}

.header-social {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.svg {
    display: flex;
    flex-direction: row;
    max-width: 20px;
    align-items: center;
    margin-right: 10px;
}

.hr {
    display: block;
    size: 1px;
    color: black;
    width: 95%;
}

main {
    margin: 20px 25px 25px 25px;
}
 
.svgback {
    width: 30px;
    height: auto;
 
}

.back-btn {
    display: flex;
    flex-direction: row;
}

.back-btn-text {
    
    font-family: var(--font-font-family);
}

.breadcrumb-sub {
    display: flex;
    flex-direction: row;
    font-family: var(--font-font-family);

}

.title-subject {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    font-weight: bolder;
    font-size: 32px;
}

.content-area{
    display: flex;
    align-content: center;
    width: 70%;
    margin: auto;
}

.content-area-aside {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.podcast-image {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    margin-bottom: 32px;
}

.listen-btn {
    display: flex;
    flex-direction: row;
    font-family: var(--font-font-family);
    font-size: 16px;
}

.platforms {
     display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 48px;

}

.liste-svg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    
}

.svg-items {
    margin-left: 5px;
}

#hr-margin {
    margin-bottom: 32px;
}

.info-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: var(--font-font-family);
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}

.share-btn { 
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    
}

.news-content-area {

    display: flex;
    align-items: flex-start;
    margin-left: 96px;
}

.news-title {
    font-family: var(--font-font-family);
    font-size: 90px;
    font-weight: 600;
    line-height: 100%;
    color: var(--primary-color);
    text-shadow: 6px 2px 16px #0000006b;
    margin-top: 10px;
    margin-bottom: 32px;

}

.episode-info {
    font-family: var(--font-font-family);
    font-size: 16px;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-top: 0px;
}

.title-highlights {
    font-family: var(--font-font-family);
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 32px;
}


.blockquote-area {
    display: flex;
    flex-direction: row;
}
.content-blockquote {
    display: flex;
    flex-direction: row;
    font-family: var(--font-font-family);
    font-weight: 600;
    font-size: 48px;
    margin-left: 0px;
    margin-bottom: 10px;
}



.blockquote-left {
    display: flex;
    flex-direction: row;
}
.blockquote-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 32px;
}

.icon-blockquote {
    color: var(--primary-color);
    font-size: 100px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    padding-top: 26px;
    margin-top: 0px;
    align-items: flex-start;

}

.blockquote-owner {
    font-family: var(--font-font-family);
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
    display: flex;
    flex-direction:row;
}


.episodes-area {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 95%;
    margin: auto;
    margin-bottom: 96px;
}

.latest-episodes-title {
    color: var(--primary-color);
    font-family: var(--font-font-family);
    font-size: 104px;
    font-weight: 600;
    align-content: center;
}

.all-episodes-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    font-size: 16px;
    text-transform: uppercase;
    font-family: var(--font-font-family);
    color: var(--primary-color);
    font-weight: 600;
}

.podcast-episodes {
    display: flex;
    width: 85%;
    align-items: flex-start;
    margin: auto;
    
}
.episodes {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    padding: 48px;
    font-family: var(--font-font-family);
    color: black;
    font-weight: 700;
    
}

.episodes-images {
    width: 405px;
    height: 405px;
}

.episodes-meta {
    display: flex;
    flex-direction: row;
    font-family: var(--font-font-family);
    font-weight: 400; 
    align-items: center;
    justify-content: flex-start;
  
}

.episodes-meta-datetext {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
  
}

.episodes-meta-durationtext {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

.episodes-meta-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;


}

.footer {
margin-top: 200px;
width: 100%;
height: 821px;
background-color: var(--primary-color);
padding-bottom: 62px;
}

.footer-newsletter {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--font-font-family);
    padding: 20px;
}



.footer-slogan-mail {
    margin-left: 150px;
    margin-top: 150px;
    margin-bottom: 100px;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-font-family);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 80px;
}


.email-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.bottom-menu {
    color: white;
    font-family: var(--font-font-family);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.botton-menu-items {

    display: flex;
    flex-direction: column;
}